#content2 {
    width: auto;
    height: 600px;
    margin: 70px 0;
    background-color: white;
    text-align: center;
}

#content2>h2 {
    font-family: "Archer-Semibold", "NanumBarunGothic";
    font-size: 23px;
    font-weight: 500;
    color: #cf661a;
}

.slider_new_product {
    font-family: "NanumBarunGothicBold", "Helvetica";
    /*overflow: hidden;*/
}

.new_product {
    width: 390px;
    height: auto;
    margin: auto;
    text-align: center;
}

.new_product_link {
    display: block;
    width: 390px;
    height: auto;
    margin: auto;
    text-align: center;

}

.new_product_img {
    height: auto;
    width: auto;
}

.new_product_img:hover {
    opacity: 0.8;
}

.new_product_name {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: #cf661a;
    margin: 10px 0;
}