/** content1 전체 영역 **/
#content1 {
    width: auto;
    height: 500px;
    margin: 70px 0;
    padding: 20px 0;
    background-color: white;
    text-align: center;
}

/* 타이틀 */
#content1>h2 {
    font-family: "Archer-Semibold", "NanumBarunGothic";
    font-size: 23px;
    font-weight: 500;
    color: #cf661a;
}

/* 슬라이더 전체 영역 */
.slider_div {
    width: 1300px;
    height: 450px;
    margin: 70px auto;
}

/* 슬라이더 공통 폰트 지정 */
.slider_product {
    font-family: "NanumBarunGothicBold", "Helvetica";
}

/* 각 상품 영역 */
.product {
    width: 300px;
    height: 430px;
    margin: auto;
    text-align: center;
}

/* 각 상품 영역 안 링크 영역
 * outline: none; -> 클릭 시 테두리 삭제
 * height -> quickview 버튼이 상품마다 같은 위치에 놓이도록 하기 위해 지정
 */
.product_link {
    display: block;
    width: 300px;
    height: 430px;
    text-align: center;
    margin: auto;
    outline: none;
}

/* 상품 이미지 */
.product_img {
    width: auto;
    height: auto;
}

/* 상품 이미지 마우스 오버 시 투명도 조절 */
.product_img:hover {
    opacity: 0.8;
}

/* 상품명 */
.product_name {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: black;
    margin: 10px 0;
}

/*상품명 - 작은 버전 */
.mini_name {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

/* 상품 판매 가격 */
.product_price {
    font-size: 15px;
    color: #cf661a;
    margin-bottom: 10px;
}

/* 상품 원가
 * text-decoration: line-through; -> 텍스트 한 가운데 줄긋기
 */
.origin_price {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    text-decoration: line-through;
}

/* 품절 이미지 */
.sold_out {
    padding-left: 120px;
}

/* quickview 버튼
 * 각 상품 링크 영역에 마우스 오버시 보임
 */
.quickview {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 40px;
    position: relative;
    left: 60px;
    bottom: 220px;
    display: none;
}

/* quickview 이미지버튼 크기 지정 */
.quickview>a>img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 40px;

}