* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/** 헤더 영역 **/

/* position:fixed로 상단메뉴 고정시킴
 * 젤 위에 떠있도록 z-index 줌
 */
#header {
    width: auto;
    height: 140px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: "NanumBarunGothicBold", "Helvetica";
}

/*=====================================================*/
/** 로그인 & 회원가입 **/

/* 로그인 & 회원가입 창
 * display: none; -> 버튼 클릭 시 보임
 */
.login_signup {
    width: auto;
    height: 90px;
    background-color: #2f1c11;
    padding: 20px 30px;
    display: none;
}

/* 텍스트 스타일 지정 */
.login_signup>span {
    color: white;
    font-size: 19px;
    position: relative;
    top: 20px;
    left: 300px;
}

/* 특정 텍스트 색,굵기 다르게 지정 */
.text_color {
    color: #cf661a;
    font-weight: 700;
}

/* 로그인 버튼
 * outline,border: none; -> 클릭 시 테두리 없음
 */
.login_btn {
    background: url('../img/login_btn.png') no-repeat;
    width: 170px;
    height: 40px;
    border: none;
    outline: none;
    padding: auto;
    position: relative;
    left: 550px;
    top: 17px;
    text-indent: -10000px;
    text-align: center;
}

/* 회원가입 버튼
 * outline,border: none; -> 클릭 시 테두리 없음
 */
.signup_btn {
    background: url('../img/signup_btn.png') no-repeat;
    width: 172px;
    height: 38px;
    border: none;
    outline: none;
    position: relative;
    left: 550px;
    top: 20px;
    text-indent: -10000px;
}

.login_signup>button:hover {
    cursor: pointer;
}

/*=====================================================*/

/** 상단바 메뉴 **/

/*상단바 메뉴 오른쪽 정렬*/
#header_top_menu {
    width: auto;
    height: 40px;
    text-align: right;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

/* ul */
.header_top {
    width: auto;
    height: 40px;
    padding-right: 333px;
}

/* li
 * inline은 한 줄에 모든 리스트를 위치시키기 위해 사용
 * 각 li 마다 간격 조정위해 margin사용
 */
.top_menu {
    display: inline-block;
    width: auto;
    height: 40px;
    margin: 0 7.5px 0 7.5px;
    vertical-align: middle;
}

/*
 * 상단바 각 메뉴
 * 글자색, 굵기, 위치, 크기 지정
 */
.top_menu>a {
    display: inline-block;
    width: auto;
    height: 40px;
    color: #333333;
    font-size: 13.5px;
    font-weight: 545;
    letter-spacing: -1px;
    line-height: 40px;
}

/* 로그인 옆에 '|' 표시
 * padding으로 간격 조정
 */
.top_menu:first-child {
    border-right: 1px solid #dddddd;
    padding: 0 20px;
}

/*=====================================================*/

/** 상단 메인 **/

/* 상단 메인 영역 : 로고영역 + 메인메뉴영역 + 검색영역 */
#header_main_menu {
    width: auto;
    height: 99px;
    padding: 0;
    margin: 0;
    background-color: white;
    position: relative;
    /*z-index: 10;*/
}

/* 로고영역 */
.logo {
    width: 25%;
    height: 100px;
}

/* 로고 이미지 링크
 * inline-block -> 크기 지정
 * cover -> 영역에 꽉차도록 지정
 */
.logo>a {
    display: inline-block;
    width: 76px;
    height: 76px;
    background: url("../img/logo3.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 78%;
    top: 12px;
    text-indent: -10000px;
}

/* 검색영역 */
.search {
    width: 25%;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/* 검색 버튼 */
.search>a {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 73%;
    top: 35px;
}

/* 검색 버튼 클릭 시 나오는 영역
 * z-index: 80; -> 서브메뉴 다음으로 보이도록 지정
 */
.search_over {
    width: 1250px;
    height: 70px;
    margin: auto;
    padding: auto;
    background-color: #eeeeee;
    position: relative;
    top: 100px;
    right: 1100px;
    text-align: center;
    display: none;
    z-index: 80;
}

/* 검색 창
 * border: none; -> 클릭 전까지 테두리 보이지 않음
 */
.search_area {
    width: 1100px;
    height: 30px;
    border: auto;
    margin: 18px 40px 0 40px;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    text-align: center;
}

/* 메인 메뉴 영역  */
.main_menu {
    width: 50%;
    height: 99px;
    position: absolute;
    top: 0;
    right: 25%;
    left: 25%;
    bottom: 0;
}

/* 메인 메뉴 리스트 */
.menu_list {
    margin-left: 55px;
}

/* 각 메뉴 공통 스타일 지정 */
.menu {
    float: left;
    height: 99px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    z-index: 90;
}

/* block -> 각 메뉴 자체를 링크로 지정
 * line-height -> height와 같은 값줘서 세로 중앙 정렬
 */
.menu>a {
    display: block;
    height: 99px;
    padding: 0 20px;
    margin: 0;
    color: #2f1c11;
    font-size: 13.5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 99px;
}

/* 각 메뉴 마우스 오버시 글자 색 변환 */
.menu>a:hover {
    color: #cf661a;
}

/* 각 메뉴 위치 지정 */
.menu1 {
    position: fixed;
    width: 150px;
}

.menu2 {
    position: relative;
    left: 150px;
    width: 170px;
}

.menu3 {
    position: relative;
    left: 130px;
    width: 110px;
}

.menu4 {
    position: relative;
    left: 110px;
    width: 110px;
}

.menu5 {
    position: relative;
    left: 90px;
    width: 200px;
}

.menu6 {
    position: relative;
    left: 70px;
    width: 110px;
}

.clear {
    float: none;
    clear: both;
}

/*=====================================================*/

/** 서브 메뉴 **/
.sub_menu {
    background-color: #eeeeee;
    text-align: left;
    margin: 0;
}

/* 서브 메뉴 글자 스타일 */
.sub_menu a {
    color: #2f1c11;
    font-family: "Archer-Semibold", "NanumBarunGothic";
}

/* 각 서브 메뉴 마다 크기, 위치 조정
 * diplay:none; -> 마우스 오버시 보임
 */
.sub_menu1 {
    width: 1000px;
    height: 270px;
    position: relative;
    top: -1px;
    right: 180px;
    padding: 45px 40px;
    padding-right: 220px;
    display: none;
}

.sub_menu2 {
    width: 500px;
    height: 130px;
    position: relative;
    top: -1px;
    padding: 45px 40px;
    display: none;
}

.sub_menu3 {
    width: 800px;
    height: 250px;
    position: relative;
    top: -1px;
    right: 100px;
    padding: 45px 40px;
    display: none;
}

.sub_menu4 {
    width: 80px;
    height: 50px;
    position: relative;
    top: -1px;
    padding: 45px 40px;
    display: none;
}

.sub_menu5 {
    width: 1100px;
    height: 130px;
    position: relative;
    top: -1px;
    right: 600px;
    padding: 45px 40px;
    display: none;
}

.sub_menu6 {
    width: 100px;
    height: 150px;
    position: relative;
    top: -1px;
    padding: 45px 40px;
    display: none;
}

/* 서브 메뉴 내용 = 타이틀 + 리스트 */
.sub_menu_item {
    float: left;
    width: 190px;
    height: 70px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* 서브메뉴 타이틀 */
.sub_menu_title {
    display: inline-block;
    font-size: 14.5px;
    font-weight: 550;
    margin-bottom: 10px;
}

/* 서브메뉴 리스트 */
.sub_menu_list {
    display: inline-block;
    font-size: 12.5px;
    word-spacing: 2px;
    margin-bottom: 7px;
}

/* 서브메뉴 리스트 중 특정 리스트만 다른 색상 지정 */
.sub_menu_col>a {
    color: #cf661a;
}